#profile-page-container {
    min-height: 100vh;
    background: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 80px;
    color: #111;
    flex-direction: column;
    display: flex;
}

#profile-listings-container {
    padding: 40px 80px;
    border-top: none;
    flex: 1;
}
